// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #fdfdfd;

// brand colors
$hmp-blue: #045A7C;
$hmp-pink: #F43471;
$hmp-orange: #FD8B10;
$hmp-green: #6FCF97;
$hmp-gray: #454545;
$hmp-md-gray: #848484;

//variants
$white-opacity-90: rgba(255, 255, 255, .9);
$black-opacity-20: rgba(0, 0, 0, .2)
