@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --hmp-blue: #045A7C;
  --hmp-pink: #F43471;
  --hmp-orange: #FD8B10;
  --hmp-green: #6FCF97;
  --hmp-gray: #454545;
  --hmp-md-gray: #848484;
}

body{
  font-family: "Poppins", "Helvetica", "sans-serif";
  background-color: var(--hmp-blue);
}

.container{margin: 0 auto; width: 90%;}
