<main>
  <div class="container">
    <div class="row">
      <div class="col-12 scrollable-col">
        <% @pets.each do |pet| %>
            <div class = "row p-4">
            <%= link_to pet_path(pet), style:"text-decoration:none;" do %>
              <div class="col-12">
                <div class="pet--card" style="<%= pet.photo.attached? ? background_image(url: pet.photo.key, cloudinary: true) : background_image(cloudinary: false) %>">
                  <p class="pet--card__content mx-2">
                    <%= pet.name %>
                  </p>
                </div>
              </div>
              <% end %>
            </div>
        <% end %>
        <div class = "row p-4">
          <div class="col-12">
            <%= link_to "+ Add a new pet", new_pet_path(current_user), class: "btn btn-add" %>
          </div>
        </div>
     </div>

    </div>
  </div>
</main>
