<div class="row">
  <div class="col-8 scrollable-col">
    <% @pets.each do |pet| %>
        <div class = 'airbnb-card row p-4'>
          <div class="col-4">
            <div class="container w-80 image rounded-3">
              <%= cl_image_tag pet.photo.key %>
            </div>
          </div>
          <div class="col-8">
            <%# < class="card-text text-black-50"><%= pet.name %>
              <%= link_to pet.name, pet_path(id: pet, user_id: current_user), class: '' %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>
