<div class="container row justify-content-around mt-2 margin-auto">
  <div class="col-12 col-lg-3 mt-3">
    <p>
      <%= link_to "About", about_path, class: "text-reset" %>
    </p>
  </div>
  <div class="col-12 col-lg-3 mt-3">
    <p>
      <%= link_to "Privacy Policy", privacy_policy_path, class:"text-reset" %>
    </p>
  </div>
  <div class="col-12 col-lg-3 mt-3">
    <p>
      <%= link_to "Contact us", contact_path, class: "text-reset" %>
    </p>
  </div>
  <div class="col-12 col-lg-3 mt-3">
    <small>
      &copy; Here's My Pet • 2022 - <%= Time.now.year %>
    </small>
  </div>
</div>
