<% if alert %>
  <div class="col-12 col-md-6 col-lg-4">

    <div class="flash flash-warning flash--container">
      <i class="fas fa-info text-warning flash--icon"></i>
      <div class="flash--content row justify-content-end w-100">
        <div class="col-10">
          <p><%= alert %></p>
        </div>
      </div>
    </div>

  </div>
<% end %>
