<div class="controller" data-controller="landing-page">
  <div class="standalone d-none" data-landing-page-target="standalone">
    <%= render 'standalone_landing' %>
  </div>

  <div class="web" data-landing-page-target="web">
    <%= render 'web_landing2' %>
  </div>
</div>
