<main>
  <%# begin of persona template %>
  <div class="persona--template">
    <div class="persona--template__image"
          style="<%= background_image %>"></div>
  </div>

  <%# end of persona template %>

  <%# buttons %>
  <div class="container w-80">

    <h2>Buttons</h2>
    <p  class="pt-3">Primary</p>
    <a href="" class="btn btn-primary">
      Link as a button
    </a>

    <p class="pt-3">Secondary</p>
    <a href="" class="btn btn-outline-primary">
      Link as button
    </a>

    <p class="pt-3">Tertiary</p>
    <a href="" class="btn btn-tertiary">
      Link as a button
    </a>

    <p>Links</p>
    <a href="" class="btn btn-tertiary btn-link">
      Link with some text
    </a>
  </div>
</main>
