.btn-tertiary {
  color: $hmp-gray;
  border-color: transparent;

  &:hover {
    border-color: $hmp-gray;
  }
}

.btn-link {
  font-weight: lighter;
  text-decoration: underline;

  &:hover {
    border-color: transparent;
    font-weight: bold;
  }
}

.btn-add {
  background-color: #045A7C;
  color: #FFFF;
  font-weight:bolder;
  border-radius: 10px;
  @include d-flex-align(end);
  height: 75px;
}

.btn-banner {
  background-color: #F43471;
  color: #FFFF;
  font-weight:bolder;
  border-radius: 10px;
}

.btn-login {
  color: #FFFF;
  background-color: #FD8B10;
  border-color: transparent;
  height: 35px;

  &:hover {
    background-color: #ffc107;
  }
}
