.btn-tertiary {
  color: $hmp-gray;
  border-color: transparent;

  &:hover {
    border-color: $hmp-gray;
  }
}

.btn-link {
  font-weight: lighter;
  text-decoration: underline;

  &:hover {
    border-color: transparent;
    font-weight: bold;
  }
}

.radio {
  display: flex;
.btn-add {
  background-color: #045A7C;
  color: #FFFF;
  font-weight:bolder;
  border-radius: 10px;
  @include d-flex-align(end);
  height: 75px;
}
