.pet--card {
  @include background-cover-center;
  @include d-flex-align(end);
  height: 150px;
  border-radius: 10px;
  a {
    text-decoration: none;
  }
  &__content {
    color: $white-opacity-90;
  }

}
