.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid $success;
}

.flash-warning {
  border: 2px solid $warning;
}

.flash-danger {
  border: 2px solid $danger;
}

.flash--container {
  position: relative;
  min-height: 50px;
}

.flash--icon {
  position: absolute;
  left: 15px;
  top: 20px;
}
