.info--group {
  p {margin: 0}

  &__label {
    color: $hmp-md-gray;
    font-size: .8rem;
  }

  &__content {
    color: $body-color;
  }
}

.form--message {
  background-color: transparent;
  border: none;
  resize: none;
  height: auto;
  width: 100%;
}

.form--message__wrapper{
  width: 300px;
  margin: 50px auto;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  position: relative;

  &::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #00bfb6;
    border-top: 15px solid #00bfb6;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }
}
