.info--group {
  p {margin: 0}

  &__label {
    color: $hmp-md-gray;
    font-size: .8rem;
  }

  &__content {
    color: $body-color;
  }
}

.form--message {
  width: 100%;
  background-image: url(/assets/textarea_a.svg);
  background-position: center;
  background-size: cover;
  border: none;
  height: 150px;
}

@media screen and (min-width: 1024px) {
  .form--message {
    width: 40%;
    margin: 0 auto;
    height: 215px;
  }
}
