.persona--template {
  &__image {
    @include background-top-contain-fixed;
    height: 45vh;
    background-repeat: no-repeat;
  }

  &__content {
    $persona-radius: 25px;
    border-top-left-radius: $persona-radius;
    border-top-right-radius: $persona-radius;
    margin-top: -5vh;
    background-color: $body-bg
  }
}

@media screen and (min-width: 1024px) {
  .persona--template {
    &__image {
      @include background-cover-center;
      height: 75vh;
      background-repeat: no-repeat;
    }
  }
}
