<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class = "container w-80">
    <div class = "row">
    <p> Hi <%= @pet.user.first_name %> </p>
      <h2> Somebody may have found <%= @pet.name %>! </h2>
      <p> <%= @tag_reading.created_at.strftime("%m/%d/%Y at %I:%M%p") %> </p>
        <textarea disabled class="form--message", rows="5" cols="40", style="font-size:25px"><%= @tag_reading.message %> </textarea>
    </div>
  </div>
</body>
</html>
